/* CSS Document */

body {
    margin: 0;
    padding: 0;
}

.main1 {
    background-color: ;
}

.customdiv1 {
    height: 400px;
    margin:30px;
}

.customdiv2 {
    height: 100px;
    background-color: ;
}

.customdiv3 {
    height: 200px;
    background-color: ;
}

.main4 {
    background-color: ;
}

.customdiv4 {
    height: 100px;
    background-color: ;
}

.main5 {
    background-color: ;
    height: ;
}

.customdiv5 {
    background-color: ;
    height: 400px;
    border-radius: 20px;
}

.main6 {
    height: 420px;
}

.customdiv6 {
    margin: 30px;
    
    background-color: ;
}



.main7 {
    background-color: ;
}

.customdiv7 {
    height: 150px;
    background-color: ;
    
}

.main8 h6 {
    color:white;
}